%script.fn-gnosia-item-template{ type: 'text/template' }
  %li{ class: 'fn-item-gnosia-{{ gnosia.id }} span3' }
    %div.thumbnail
      %input{ type: 'hidden', class: "fn-this-id", value: "{{ gnosia.id }}" }
      %img{ src: "{{ gnosia.image_path }}", class: "img-rounded" } 
      %p {{ gnosia.question }}
      %form
        {{ #gnosia.answer }}
        %label.radio.colored-option
          %input.fn-selected-answer{ type: 'radio', name: "answer", value: "{{ . }}" }
          {{ . }}
        {{ /gnosia.answer }}
        {{ #gnosia.wrong_answer }}
        %label.radio.colored-option
          %input.fn-selected-answer{ type: 'radio', name: "answer", value: "{{ . }}" }
          {{ . }}
        {{ /gnosia.wrong_answer }}
        %input.fn-correct-answer{ type: 'hidden', class: "fn-selected-answer", value: "{{ gnosia.answer }}" }
