.fn-finished-questions.modal.hide.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true") x
    %h3 Haz terminado de contestar los ejercicios de calculo
  .modal-body
    %p Resultados
  .modal-footer
    %button.btn.btn-inverse(data-dismiss="modal" aria-hidden="true") Cerrar
