%script.fn-calculus{ type: 'text/template' }
  %h2 Responda las siguientes preguntas
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          %h4 Problema
        %th 
        %th
    %tbody
      {{ #questions }}
      %tr
        %td {{ question }}
        %td
          %input{ class: "fn-{{question.id}}", name: 'a[answer]', type: "text", placeholder: "Escribe tu respuesta aquí" }
        %td
          %span{ class: "submit{{question.id}}" }
            %a.btn.btn-inverse Enviar
      {{ /questions }}
