= render 'template_items/calculus_item'
%script.fn-calculus{ type: 'text/template' }
  %h2 Responda las siguientes preguntas
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          %h4 Problema
        %th 
        %th
    %tbody.fn-body-table
  %input{ type: 'hidden', class: 'fn-questions-number', value: '{{ length }}' }
  %input{ type: 'hidden', class: 'fn-correct-answers-number', value: '0' }
  %input{ type: 'hidden', class: 'fn-answered-questions-number', value: '0' }
  = render 'template_items/modal_calculus'
