= render 'template_items/memory_answers_item'
%script.fn-memory{ type: 'text/template' }
  %h2 {{ message }}
  #myCarousel.carousel.slide(data-interval="60000")
    .carousel-inner
      %div{ class: "item active", align: "center" }
        %img{:src => "/assets/Background2.jpg"}
      {{ #items }}
      %div{ class: "item", align: "center"}
        %img{ src: "{{ image_path }}" }
        %input{ type: 'hidden', class: "fn-correct-answer", value: "{{ answer }}"}
        %input{ type: 'hidden', class: "fn-incorrect-answers", value: "{{ wrong_answers }}"}
      {{ /items }}
  .options.bottom-position
    %a.btn.btn-inverse.fn-start
      %h1 Comenzar
  %input{ type: 'hidden', class: "fn-questions-number", value: "{{ length }}" }
  %input{ type: 'hidden', class: "fn-correct-answers-number", value: 0 }
  %input{ type: 'hidden', class: "fn-answered-questions-number", value: 0 }
  = render 'template_items/modal_normal_exercises'
