%script.fn-orientation{ type: 'text/template' }
  %h2 Responda las siguientes preguntas

  #myCarousel.carousel.slide
    .carousel-inner
      %div{ class: "item active", align: "center" }
        %img{src: "/assets/Background2.jpg"}
      {{ #orientations }}
      %div{ class: "item", align: "center"}
        %img{ src: "{{ image_path }}" }
      {{ /orientations }}
    %a(class = "left carousel-control" href = "#myCarousel" data-slide = "prev") ‹
    %a(class = "right carousel-control" href = "#myCarousel" data-slide = "next") ›
