= render partial: 'exercises/exercise1'
.fn-exercises
  %center
    .btn-group
      %a.btn.fn-category Cálculo
      %a.btn.fn-category Gnosias
      %a.btn.fn-category Memoria
      %a.btn.fn-category Lenguaje
      %a.btn.fn-category Orientación
      %a.btn.fn-category Praxias
  
  .exercises
