/*
 *= require_self
 *= require bootstrap
 *= require event_calendar
*/

.devise-login{
  float:right;
  width:50%;
  width:40%;
}

.alerts {
  padding-top:40px;
  width:100%;
}

#next-month {
  float:right;
}

#current-month {
  text-align:center;
}

#myCarousel{width:700px;height:500px;margin:auto;}

.reminiscence-logo{
  width:50%;
  float:left;
}

.slogan{
  width:50%;
}
.content{
  width:50%;
  font-family:"Helvetica";
  font-size:17px;
}

.profile-table label{
  font-size:20px;
}

.profile-table input{
  font-size:20px;
}

input.profile-form {
  width:100%;
}

textarea.profile-form {
  width:100%;
}

.bottom-position {
  margin-top: 100px;
}

.with-width {
  display:block;
  width:200px;
}

.with-width:hover {
  background-color:#CCC;
}

.colored-option:hover {
  background-color:#CCC;
}
