// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ex{height:27px;width:100%;}
#ex-first{height:100%;width:93px;float:left;}
#ex-second{height:100%;width:93px;float:left;}
#ex-third{height:100%;width:93px;float:left;}
#ex-fourth{height:100%;width:93px;float:left;}
#ex-fifth{height:100%;width:93px;float:left;}
#ex-sixth{height:100%;width:93px;float:left;}
#myCarousel{width:700px;height:500px;margin:auto;}

//Index css
#index{
  width:100%;
  height:90%;
  position:relative;
  left:3%;
}

#reminiscence-logo{
  width:50%;
  float:left;
}

#slogan{
  width:50%;
  float:left;
}
#contend{
  width:50%;
  font-family:"Helvetica";
  font-size:17px;
}

#devise_login.well{
  width:40%;
  float:right;
}
