// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ex{height:27px;width:100%;}
#ex-first{height:100%;width:93px;float:left;}
#ex-second{height:100%;width:93px;float:left;}
#ex-third{height:100%;width:93px;float:left;}
#myCarousel{width:700px;height:500px;margin:auto;}
