%h2(align = "center") Escriba los nombres de los siguientes animales

%ul.thumbnails
  %li.span3
    .thumbnail
      %img{:src => 'assets/leon.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/tigre.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/gorila.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/leon.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/tigre.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}

%ul.thumbnails
  %li.span3
    .thumbnail
      %img{:src => 'assets/leon.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/tigre.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/gorila.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/leon.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
  %li.span3
    .thumbnail
      %img{:src => 'assets/tigre.png', :alt => ""}
      %p Qué animal es?
      %input{:type => "text", :class => "input-medium"}
