%h2(align = "center") Escriba los nombres de los siguientes animales

%ul.thumbnails
  - @gnosias.each do |gnosia|
    %li.span3
      .thumbnail
        = image_tag gnosia.image.url(:medium)
        %table
          %tr
            %td(colspan = "2")
              %p Qué animal es?
          %tr
            %td
              %input{:type => "text", :class => "input-small"}
            %td
              %a.btn.btn-inverse Responder
