%h2(align = "center") Escriba los nombres de los siguientes animales

%table
  %tr
    %td= image_tag('leon.jpg')
    %td
      %input
  %tr
    %td= image_tag('tigre.jpg')
    %td
      %input
  %tr
    %td= image_tag('gorila.jpg')
    %td
      %input
