%h2 Responda las siguientes preguntas
%table.index_table
  %thead
    %tr
      %th
        %h3 Problema
      %th 
        %h3 Respuesta
      %th
  %tbody
  - @questions.each do |question|
    %tr
      %td
        %h3= question.question
      %td
        %input.answer(name = 'a[answer]' type = "text")
      %td
        %h3 No contestado
