%h2(align = "center") Escriba los nombres de los siguientes animales

#imagenes(align = "center")
  %table
    %tr
      %td#leon
        %td
          %input
    %tr
      %td#tigre
      %td
        %input
    %tr
      %td#gorila
      %td
        %input
