%center
  .btn-group.fn-exercises
    %a.btn.fn-category.calculus Cálculo
    %a.btn.fn-category.gnosias Gnosias
    %a.btn.fn-category.memory Memoria
    %a.btn.fn-category.language Lenguaje
    %a.btn.fn-category.orientation Orientación
    %a.btn.fn-category.praxias Praxias
  .fn-render-exercise-templates
